body {
    margin: 0;
    padding: 1em;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #111;
    color: white;
    font-size: 14pt;
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 800px) {
    body {
        padding-left: 1em;
        padding-right: 1em;
    }
}

header {
    p {
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 2pt;
        color: #aaa;
    }
}

h1 {
    font-size: 48pt;
    margin-bottom: 14pt;
}


#scrollback {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    margin-left: 1em;
    font-size: small;

    a {
        opacity: 0.6;
        transition: opacity 200ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &.hide {
        a {
            opacity: 0;
        }
    }
}

footer {
    margin-top: 36pt;
    padding-top: 12pt;
    border-top: 1px dashed #666;
    color: #aaa;

    p {
        font-size: small;
        margin-top: 0;
        margin-bottom: 0;
    }
}

article {
    text-align: justify;

    p {
        font-family: 'Times New Roman', Times, serif;
    }

    a {
        color: skyblue;
    }
}

a {
    color: inherit;
}