{% extends "base.html" %}

{% block content %}
<h1>
    404 Not Found
</h1>
<p>If this is a mistake, please raise the issue on <a href="https://codeberg.org/Promenade/site">Codeberg</a>.</p>
{% endblock content %}