<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page and page.title %}{{page.title}} | {% endif %}{% if section and section.title %}{{section.title}} |
        {% endif %}OVO</title>
    <link rel="stylesheet" href="/base.css" />
</head>

<body>
    <header>
        <p><a href="/">Promenade</a></p>
    </header>
    <article>
        {% block content %} {% endblock %}
    </article>
    <footer>
        <p>© Louis Birla and Promenade members, 2024</p>
        <p>All content is shared under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                Attribution-Sharealike 4.0 International license</a>.</p>
        </p>
    </footer>
    <p id="scrollback" class="hide"><a href="#">back to top</a></p>
    <script>
        let scrollback = document.getElementById("scrollback");
        window.onscrollend = () => {
            if (window.scrollY > 2000) {
                scrollback.classList.remove("hide");
            } else {
                scrollback.classList.add("hide");
            }
        }
    </script>
</body>

</html>