{% extends "base.html" %}

{% block content %}
<h1>Ave,</h1>
<p>You have reached the homepage for <i>yet hypothetical</i> group of wonderers.</p>
<p>Read <a href="/proposal.pdf">the proposal</a> to see what we are about and <a href="/join">join us</a>.</p>
<p>Safe travels!</p>
{% endblock content %}