{% extends "base.html" %}

{% block content %}
<h1>
    {{ page.title }}
</h1>
{% if page.date %}
<small>{{ page.date | date(format="%a, %e %B %Y") }}</small>
{% endif %}
{{ page.content | safe }}
{% endblock content %}